<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
<link type="text/css" rel="stylesheet" rev="stylesheet" href="../css/general_style.css"/>
<link type="text/css" rel="stylesheet" rev="stylesheet" href="../css/special_style.css"/>
<script  type="text/javascript" src="../js/menu.js"></script>
<title>OA办公系统-查看发件箱留言</title>
</head>

<body>
<div id="head"></div>
<div id="nav">
	<script  type="text/javascript" language="javascript"> mwritetodocument();</script>
</div>
<div id="content" style="font-size:13px ">
<div style="color: #FFFFFF; padding-top: 4px;">当前位置->查看留言</div>
<hr class="line">
<table width="650" align="center" cellpadding="2" cellspacing="1" id="myMessageTable" >

  <tr>
  	<td colspan="2"  height="32" bgcolor="#faf67c"><b>查看收件箱留言</b></td>
  </tr>
  <tr>
    <td width="100" height="30" align="right" bgcolor="#E0EEEE">发件人员工号:&nbsp;</td>
    <td width="537" bgcolor="#EBEBEB">6544</td>
  </tr>
  <tr>
    <td height="30" align="right" bgcolor="#E0EEEE">发件人姓名:&nbsp;</td>
    <td bgcolor="#EBEBEB">斯蒂芬</td>
  </tr>
  <tr>
    <td height="30" align="right" bgcolor="#E0EEEE">标题:&nbsp;</td>
    <td bgcolor="#EBEBEB">开会</td>
  </tr>
  
  <tr>
    <td height="200" align="right" bgcolor="#E0EEEE">内容:&nbsp;</td>
    <td bgcolor="#EBEBEB">开会研究需求分析</td>
  </tr>
  
  <tr>
    <td height="28" bgcolor="#E0EEEE">&nbsp;</td>
    <td bgcolor="#EBEBEB">
	   <input class="shortButton" type="button" value="回复" onclick="javascript:window.location.href='new.html'"/>
      <input class="shortButton" type="button" value="返回" onclick="javascript:window.location.href='inbox.html'" /></td>
  </tr>
</table>
<p>&nbsp;</p>
</div>
</div>
<div id="bottom"></div>
</body>
</html>